// Colors
$light-grey: #e6e6e6 !default;
$grey:#4f4f4f !default;
$dark-grey: #333333 !default;
$header-color: #d1e9f5 !default;

$primary-color: #08557c !default;
$secondary-color: #efefef !default;
$tertiary-color: #2194ce !default;

$border-color: #bbb !default;
$link-color: $primary-color !default;
$font-color: #4a4a4a !default;
